.card-page {
   padding: 20px 0 48px;
   &__breadcrumbs {
      display: flex;
      flex-direction: row;
      &_link {
         font-size: 12px;
         line-height: 110%;
         color: #515152;
         &:not(:last-child):after {
            content: '>';
            margin: 0 10px;
            top: 0;
            right: 0;
         }
      }
   }
   &__main {
      display: flex;
      margin-top: 28px;
      position: relative;
   }
   &__photos {
      width: 450px;
      flex-shrink: 0.3;
      &_big {
         width: 100%;
         height: 336px;
         @include flex-center;
         margin-bottom: 32px;
         @include img-fit;
         border: 1px solid #A5A0A6;
         box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
         border-radius: 5px;
      }
      &_wrapper {
         display: grid;
         gap: 10px 0;
         grid-template-columns: repeat(auto-fill,100px);
         justify-content: space-between;
      }
      &_img {
         width: 100px;
         height: 100px;
         @include img-fit;
         border: 1px solid #A5A0A6;
         box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
         border-radius: 5px;
         cursor: pointer;
         @include hover-zoom-effect;
         
      }
   }
   &__side {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      flex-grow: 1;
      margin-left: 50px;
   }
   &__info {
      &_counter {
         input {
            border: none;
            width: 45px;
            text-align: center;
         }
      }
      &_heading {
         font-size: 24px;
         font-weight: 700;
         line-height: 110%;
         color: #333333;
      }
      &_title {
         margin-top: 20px;
         margin-bottom: 10px;
         font-size: 16px;
         font-weight: 700;
         line-height: 110%;
         color: #333333;
      }
      &_text {
         font-size: 16px;
         font-weight: 400;
         line-height: 110%;
         color: #333333;
      }
      &_wrapper {
         font-size: 16px;
         line-height: 110%;
         margin-top: 44px;
         table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 12px;
            th {
               width: 50%;
            }
         }
         &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $grey;
            margin-top: 5px;
         }
      }
   }
   &__buttons {
      display: flex;
      flex-direction: column;
      flex-basis: 226px;
      margin-left: 20px;
   }
   &__available {
      position: absolute;
      top: 0px;
      right: 0;
      float: right;
      padding: 4px 8px;
      border-radius: 2px;
      font-size: 16px;
      line-height: 110%;
      background: #515152;
      color: #FFFFFF;
   }
   &__button {
      @include flex-center;
      width: 100%;;
      height: 48px;
      border-radius: 2px;
      font-weight: 600;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 0.625px;
      text-transform: uppercase;
      color: #121212;
      &-addtocart {
         margin-top: 70px;
         background: #F8E541;
         img {
            filter: invert(1);
            margin-right: 5px;
         }
      }
      &-price {
         margin-top: 16px;
         background: $grey-alt;
         img {
            margin-right: 5px;
         }
      }
   }
   &__social {
      display: flex;
      justify-content: space-between;
      visibility: hidden;
      margin-top: 16px;
      &_item {
         background: transparent;
         @include pressing-effect;
      }
      &-active {
         visibility: visible;
      }
   }
   
}