.contacts {
   &__inner {
      max-height: 680px; 
   }
   &__block {
      a {
         font-weight: 700;
         color: #000;
      }
      &_icon {
         &-a1 {
            margin-right: 30px;
         }
         &-mts {
            margin-right: 13px;
         }
         &-viber {
            margin-right: 25px;
         }
         &-mail {
            margin-right: 21px;
         }
      }
      
      &:nth-child(3) {
         margin-top: 20px;
      }
      &:nth-child(4) {
         height: 230px;
      }
   }
}